<div class="col-12 mb-4 <%= "d-none" if feed.public? %>" data-feed-tokens-target="showPrivate">
  <div class="card shadow border-0">
    <div class="card-header card-header-warning d-flex justify-content-between">
      <h5 class="card-title flex-grow-1"><%= t(".title") %></h5>
      <%= help_text t(".help.auth_tokens") %>
    </div>

    <div class="card-body">
      <div class="mt-4">
        <%= render "form_auth_tokens", feed: feed, form: form %>
      </div>
    </div>
  </div>
</div>
