<div class="card">
  <div class="card-header-primary">
    <h5 class="card-title">TITLE</h5>
  </div>
  <div class="card-footer d-flex align-items-center">
    <p>update or create</p>
  </div>
</div>
