<% if feed.tokens.present? %>
  <% feed.tokens.each do |token| %>
    <%= form.fields_for :feed_tokens, token do |fields| %>
      <%= render "form_auth_token", form: fields %>
    <% end %>
  <% end %>
<% end %>

<span>Add token</span>
