<div class="row">
  <div class="col mb-4">
    <div class="form-floating">
      <%= form.text_field :label %>
      <%= form.label :label %>
    </div>
  </div>

  <div class="col mb-4">
    <div class="form-floating">
      <%= form.text_field :token %>
      <%= form.label :token %>
    </div>
  </div>
</div>
