<div class="col-12 mb-4 <%= "d-none" %>" data-apple-config-target="showApple">
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <h2 class="card-title h5 flex-grow-1">Apple Subscriptions</h2>
    </div>
    <div class="card-body">

    </div>
  </div>
</div>
