<% content_for :tabs do %>
  <div class="list-group d-flex col prx-fixed-btn-container">
    <% @feeds.each do |feed| %>
      <% if feed.default? %>
        <%= tab_link_to "Default Feed", podcast_feed_path(@podcast, feed) %>
      <% else %>
        <%= tab_link_to feed.title, podcast_feed_path(@podcast, feed) %>
      <% end %>
    <% end %>

    <% if feed.new_record? %>
      <%= tab_link_to "New Feed", new_podcast_feed_path(podcast), active: true %>
    <% end %>
  </div>
  <div class="fixed-bottom col-sm-12 col-md-3 col-xl-2">
    <%= link_to "Add a Feed", new_podcast_feed_path(podcast), class: "btn btn-success d-flex sticky-md-bottom m-4 shadow" %>
  </div>
<% end %>
