<% content_for :tabs do %>
  <div class="list-group d-flex col">
    <% @feeds.each do |feed| %>
      <% if feed.default? %>
        <%= tab_link_to "Default Feed", podcast_feed_path(@podcast, feed) %>
      <% else %>
        <%= tab_link_to feed.title, podcast_feed_path(@podcast, feed) %>
      <% end %>
    <% end %>

    <% if feed.new_record? %>
      <%= tab_link_to "New Feed", new_podcast_feed_path(podcast), active: true %>
    <% end %>

    <%= link_to "Add a Feed", new_podcast_feed_path(podcast), class: "btn btn-secondary-link" %>
  </div>
<% end %>
