<% content_for :tabs do %>
  <div class="list-group d-flex col prx-fixed-btn-container">
    <% @feeds.each do |feed| %>
      <%= tab_link_to feed.friendly_title, podcast_feed_path(@podcast, feed) %>
    <% end %>

    <% if feed.new_record? %>
      <%= tab_link_to "New Feed", new_podcast_feed_path(podcast), active: true %>
    <% end %>
  </div>
  <% if policy(podcast).update? %>
    <div class="fixed-bottom col-sm-12 col-md-3 col-xl-2">
      <%= link_to "Add a Feed", new_podcast_feed_path(podcast), class: "btn btn-success d-flex sticky-md-bottom m-4 shadow" %>
    </div>
  <% end %>
<% end %>
