<% content_for :tabs do %>
  <%= tab_link_to "Metadata", fake_path(123) %>
  <%= tab_link_to "Ad Locations", fake_path("ad-locations") %>
<% end %>

<div data-controller="ad-locations waveform-inspector"
  data-ad-locations-label-prefix-value="Mid Roll"
  data-ad-locations-segment-count-value="4"
  data-ad-locations-markers-value="[[148.723809],[153.29814058956916,157.19909297052155]]"
  data-ad-locations-target="waveformInspector"
  data-waveform-inspector-playing-class="player--playing"
  data-waveform-inspector-audio-url-value="/audio/TOL_6min_720p_download.mp3"
  data-waveform-inspector-waveform-url-value="/audio/TOL_6min_720p_download.json"
  data-action="resize@window->waveform-inspector#updateLayout ad-locations:markers.update->waveform-inspector#updateMarkers waveform-inspector:marker.update->ad-locations#updateAdMarker ad-location:marker.update->ad-locations#updateAdMarker ad-location:play->waveform-inspector#playMarker ad-location:seekTo->waveform-inspector#seekToMarker">
  <header class="prx-content-header | mx-4 px-2 py-3">
    <h2 class="h1 fw-bold">Ad Locations</h2>
  </header>

  <input type="hidden" data-ad-locations-target="markersInput">

  <div class="prx-waveform-inspector | d-grid gap-2 m-4">
    <div class="prx-waveform-inspector-container">
      <div class="prx-waveform-inspector-view-container" data-waveform-inspector-target="overview"></div>
      <div class="prx-waveform-inspector-scrollbar-wrapper">
        <div data-waveform-inspector-target="scrollbar"></div>
      </div>
      <div class="prx-waveform-inspector-view-container" data-waveform-inspector-target="zoom"></div>
    </div>
    <div class="prx-waveform-inspector-footer | d-flex justify-content-between align-items-start">
      <div class="prx-waveform-inspector-player-controls | d-flex gap-3 align-items-center">
        <button class="btn btn-icon btn-icon-lg btn-icon-round btn-primary" data-action="click->waveform-inspector#togglePlaying">
          <span class="material-icons playing-hide" aria-label="Play">play_arrow</span>
          <span class="material-icons playing-show" aria-label="Pause">pause</span>
        </button>
        <div class="prx-input-group input-group-sm">
          <input class="form-control" placeholder="00:00"
            data-waveform-inspector-target="seekInput"
            data-action="keypress.enter->waveform-inspector#seekSubmit"
            data-bs-toggle="tooltip"
            data-bs-title="Enter time to seek to">
          <button class="btn btn-icon btn-icon-borderless btn-primary" data-action="waveform-inspector#seekToInputValue">
            <span class="material-icons">skip_next</span>
          </button>
        </div>
      </div>
      <div class="prx-waveform-inspector-zoom-controls">
        <div class="btn-group">
          <button class="btn btn-icon btn-primary btn-sm" data-action="waveform-inspector#zoomIn">
            <span class="material-icons">zoom_in</span>
          </button>
          <button class="btn btn-icon btn-primary btn-sm" data-action="waveform-inspector#zoomOut">
            <span class="material-icons">zoom_out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0 my-4">
      <table class="prx-ad-locations-table">
        <thead>
          <th><!-- Placeholder Cell --></th>
          <th>Name</th>
          <th width="100%">Timestamps</th>
          <th><!-- Placeholder Cell --></th>
        </thead>
        <tbody data-ad-locations-target="controls">
          <!-- Control rows will be cloned here. -->
        </tbody>
      </table>
    </div>
  </div>
  <template data-ad-locations-target="controlTemplate">
    <tr data-controller="ad-location tooltip" data-ad-location-completed-class="status--completed">
      <td>
        <span class="completed-show | material-icons text-success">check_circle</span>
        <span class="completed-hide | material-icons text-danger">error</span>
      </td>
      <td>
        <span data-ad-location-target="label">Label Text</span>
      </td>
      <td>
        <button class="has-start-time-hide | btn btn-sm btn-primary text-nowrap" data-action="ad-location#updateStartTimeToPlayhead">
          Insert At Playhead <span class="material-icons" aria-hidden="true">my_location</span>
        </button>
        <div class="has-start-time-show | prx-input-group input-group-sm">
          <input class="form-control" placeholder="00:00"
            data-ad-location-target="startTime"
            data-action="keypress.enter->ad-location#updateStartTime"
            data-bs-toggle="tooltip"
            data-bs-title="Edit Start Time">
          <button class="prx-input-confirm | btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Confirm Change" data-action="ad-location#updateStartTime">
            <span class="material-icons">done</span>
          </button>
          <button class="prx-input-confirm-hidden | btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Set To Playhead" data-action="ad-location#updateStartTimeToPlayhead">
            <span class="material-icons">my_location</span>
          </button>
          <button class="has-end-time-hide | btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Add End Time" data-action="ad-location#addEndTime">
            <span class="material-icons rotate-90">expand</span>
          </button>
        </div>
        <span class="has-end-time-show | material-icons rotate-90">expand</span>
        <div class="has-end-time-show | prx-input-group input-group-sm">
          <input class="form-control" placeholder="00:00"
            data-ad-location-target="endTime"
            data-action="keypress.enter->ad-location#updateEndTime"
            data-bs-toggle="tooltip"
            data-bs-title="Edit End Time">
          <button class="prx-input-confirm | btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Confirm Change" data-action="ad-location#updateEndTime">
            <span class="material-icons">done</span>
          </button>
          <button class="prx-input-confirm-hidden | btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Set To Playhead" data-action="ad-location#updateEndTimeToPlayhead">
            <span class="material-icons">my_location</span>
          </button>
          <button class="btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Remove End Time" data-action="ad-location#removeEndTime">
            <span class="material-icons">close</span>
          </button>
        </div>
      </td>
      <td class="justify-content-end">
        <button class="has-end-time-show | btn btn-icon btn-icon-round btn-primary" data-action="ad-location#play">
          <span class="material-icons">play_arrow</span>
        </button>
        <button class="has-start-time-show | btn btn-icon btn-icon-round btn-primary" data-action="ad-location#seekTo">
          <span class="material-icons">skip_next</span>
        </button>
      </td>
    </tr>
  </template>
</div>