<% content_for :title, "Fake Index Page" %>

<div class="fake-page">
  <h1>this is fake</h1>

  <%= image_tag "prx_logo.svg", width: 100 %>

  <h2 data-controller="fake">Replace this text, stimulus!</h2>

  <p>Click <b><%= link_to "HERE", fake_path(123) %></b> to go to the show page</p>

  <div class="row mt-4">

    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Look a card</h5>
          <p class="card-text">Some card text.</p>
          <p>Click <b><%= link_to "HERE", fake_path(123) %></b> to go to the show page</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card shadow">
        <div class="card-header bg-info p-0 m-0">
          <h5 class="card-title px-3 py-2 m-0 fw-bold text-uppercase text-black">Card Title</h5>
        </div>
        <div class="card-body">
          <%= image_tag "prx_logo.svg", width: 135, class: "d-flex mx-auto mb-2" %>
          <p class="card-text fw-bold mb-0 text-black">Include in Feeds:</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Checked checkbox
            </label>
          </div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
          <div class="status-text">
            <p class="mb-0 lh-1"><small><strong>Last Saved</strong> <br>1/25/2023, 12:25pm</small></p>
          </div>
          <div class="btn-group align-self-end">
            <button type="button" class="btn btn-primary py-1">Action</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border-start border-color-white py-1" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Duplicate</a></li>
              <li><a class="dropdown-item bg-danger text-white" href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-header">
          <h5 class="card-title">Look a card</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Some card text.</p>
        </div>
      </div>
    </div>

  </div>
</div>
