<% content_for :title, 'Fake Index Page' %>

<div class="fake-page">
  <h1>this is fake</h1>

  <%= image_tag "prx_logo.svg", width: 100 %>

  <h2 data-controller="fake">Replace this text, stimulus!</h2>

  <p>Click <b><%= link_to 'HERE', fake_path(123) %></b> to go to the show page</p>

  <div class="row mt-4">

  <div class="col-lg-8">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Look a card</h5>
        <p class="card-text">Some card text.</p>
        <p>Click <b><%= link_to 'HERE', fake_path(123) %></b> to go to the show page</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title">Look a card</h5>
      </div>

      <div class="card-body">
        <p class="card-text">Some card text.</p>
      </div>
    </div>
  </div>

</div>
</div>
