<% content_for :title, 'Fake Show Page' %>

<% content_for :subnav do %>
  <a class="navbar-brand">content FOR THE SUBNAV</a>
<% end %>

<% content_for :tabs do %>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Hey</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Look</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">it's</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">TABS</a>
    </li>
  </ul>
<% end %>

<div class="row mt-4">

  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Look a card</h5>
        <p class="card-text">Some card text.</p>
        <%= link_to 'Back to index', fake_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Look a card</h5>
        <p class="card-text">Some card text.</p>
      </div>
    </div>
  </div>

</div>
