AWS_ACCESS_KEY_ID=
AWS_ACCOUNT_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
CMS_ROOT=https://cms.prx.org/api/v1
CRIER_ROOT=https://crier.prx.org/api/v1
DATABASE_POOL_SIZE=15
DB_ENV_POSTGRES_DATABASE=
DB_ENV_POSTGRES_PASSWORD=
DB_ENV_POSTGRES_USER=
DB_PORT_5432_TCP_ADDR=
DB_PORT_5432_TCP_PORT=
FEEDER_APP_HOST=feeder.prx.org
FEEDER_CDN_HOST=
FEEDER_GENERATOR=
FEEDER_RELEASE_CHECK_DELAY=300
FEEDER_STORAGE_BUCKET=
FEEDER_WEB_MASTER=
FIXER_CALLBACK_QUEUE=development_feeder_fixer_callback
FIXER_CLIENT_ID=
FIXER_CLIENT_SECRET=
FIXER_ENDPOINT=
FIXER_QUEUE=development_fixer_job_create
HIGHWINDS_ACCOUNT_HASH=
HIGHWINDS_PASSWORD=
HIGHWINDS_USERNAME=
ID_ROOT=https://id.prx.org/
LANG=en_US.UTF-8
POSTGRES_PASSWORD=password
PRX_CLIENT_ID=
PRX_ROOT=https://beta.prx.org/stories/
PRX_SECRET=
RAILS_ENV=development
SECRET_KEY_BASE=
USE_WEBMOCK=true
