<div class="col-12 mb-4">
  <div class="form-floating input-group">
    <%= form.text_field :url %>
    <%= form.label :url, required: true %>
    <%= field_help_text t(".help.url") %>
  </div>
</div>
