<div class="row" data-morph="false">
  <div class="col-12 p-0 my-4">
    <table class="prx-audio-breakpoints-table">
      <thead>
        <th><!-- Placeholder Cell --></th>
        <th><%= t(".name") %></th>
        <th width="100%"><%= t(".timestamps") %></th>
        <th><!-- Placeholder Cell --></th>
      </thead>
      <tbody data-audio-breakpoints-target="controls">
        <!-- Control rows will be cloned here. -->
      </tbody>
    </table>
  </div>
</div>
