<div class="prx-uploads col-12 mb-2">
  <%= turbo_frame_tag "episode-media-form-transcript", data: {controller: "morphdom"} do %>
    <% path = episode_transcripts_path(episode, uploads_destroy_params(fields)) %>
    <% rpath = episode_transcripts_path(episode, uploads_retry_params(fields)) %>

    <%= render "episode_transcripts/transcripts/form", form: fields, transcript: fields.object, delete_path: path, retry_path: rpath %>
  <% end %>
</div>
