<%= form.hidden_field :id %>
<div class="col-12 mb-4">
  <% if episode.medium_video? %>
    <%= render "episode_media/media/complete_video", form: form, episode: episode, media: media %>
  <% else %>
    <%= render "episode_media/media/complete_audio", form: form, episode: episode, media: media %>
  <% end %>
</div>

<%= render "episode_media/media/modal", episode: episode, media: media, id: "media-modal-#{media.id}" %>
