<% if episode.podcast.default_feed.audio_format.blank? %>
  <div class="modal" tabindex="-1" data-upload-target="nonMp3Warning">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t(".title") %></h5>
        </div>
        <div class="modal-body" data-turbo=false>
          <%= t(".body_html", href: podcast_feeds_path(episode.podcast_id)) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-action="upload#modalCancel"><%= t(".cancel") %></button>
          <button type="button" class="btn btn-danger" data-action="upload#modalContinue"><%= t(".continue") %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
