<div class="col-12 mb-4 prx-field-group">
  <div class="form-floating" data-controller="dynamic-form">
    <%= form.number_field :ad_breaks, min: 0, max: Episode::MAX_SEGMENT_COUNT - 1, data: {action: "dynamic-form#change"} %>
    <%= form.label :ad_breaks %>
    <a hidden href="<%= request.fullpath %>" data-dynamic-form-target="link"></a>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.ad_breaks") %>">
    <span class="material-icons">help</span>
  </button>
</div>
