<%= turbo_frame_tag "agents" do %>
  <ul class="list-group list-group-flush position-relative">
    <% agents.map do |agent| %>
      <li class="list-group-item d-flex justify-content-between">
        <span class="z-1"><%= agent[:label] %></span>
        <span class="z-1"><%= number_with_delimiter(agent[:downloads]) || 0 %></span>
      </li>
    <% end %>
    <div class="position-absolute top-50 start-50 translate-middle w-100 h-100 z-0"
      data-controller="apex-sparkbar"
      data-apex-sparkbar-id-value="podcast-agents-chart"
      data-apex-sparkbar-downloads-value="<%= agents.map { |a| a[:downloads] }.to_json %>">
      <div data-apex-sparkbar-target="chart"></div>
    </div>
  </ul>
<% end %>
