<%= turbo_frame_tag "countries" do %>
  <ul class="list-group list-group-flush position-relative">
    <% countries.map do |country| %>
      <li class="list-group-item d-flex justify-content-between">
        <span class="z-1"><%= country[0] %></span>
        <span class="z-1"><%= number_with_delimiter(country[1]) || 0 %></span>
      </li>
    <% end %>
    <div class="position-absolute top-50 start-50 translate-middle w-100 h-100 z-0 apex-color-mode"
      data-controller="apex-chart"
      data-apex-chart-id-value="countries-chart"
      data-apex-chart-downloads-value="<%= countries.to_json %>"
      data-apex-chart-series-type-value="downloads"
      data-apex-chart-chart-type-value="sparkbar">
      <div data-apex-chart-target="chart"></div>
    </div>
  </ul>
<% end %>
