<%= turbo_frame_tag "downloads" do %>
  <div class="col metrics-chart apex-color-mode"
    data-controller="apex-chart"
    data-apex-chart-id-value="downloads-chart"
    data-apex-chart-downloads-value="<%= rollups.to_json %>"
    data-apex-chart-series-type-value="downloads"
    data-apex-chart-chart-type-value="bar">
    <div data-apex-chart-target="chart"></div>
  </div>
<% end %>
