<%= turbo_frame_tag "episode_trend_#{episode.guid}" do %>
  <% if episode_trend.present? %>
    <% trend = parse_trend(episode_trend) %>

    <p class="episode-card-text d-flex align-items-center <%= trend[:color] %>">
      <span class="z-1"><%= trend[:percent] %></span>
      <span class="material-icons ms-1 z-1" aria-hidden="true"><%= trend[:direction] %></span>
    </p>
  <% end %>
<% end %>
