<%= turbo_frame_tag "episodes" do %>
  <div class="col metrics-chart"
    data-controller="apex-episodes"
    data-apex-episodes-id-value="<%= SecureRandom.uuid %>"
    data-apex-episodes-rollups-value="<%= episode_rollups.to_json %>">
    <div data-apex-episodes-target="chart"></div>
  </div>
<% end %>
