<%= turbo_frame_tag "episode_sparkline_#{episode.guid}" do %>
  <div class="position-absolute top-50 start-50 translate-middle w-100 h-100 z-0"
    data-controller="apex-sparkline"
    data-apex-sparkline-id-value="<%= episode.guid %>"
    data-apex-sparkline-downloads-value="<%= downloads.to_json %>">
    <div data-apex-sparkline-target="chart"></div>
  </div>
<% end %>
