<%= form_with(url: url, method: :get, id: "metrics_interval_filter") do |form| %>
  <div class="form-floating">
    <%= form.select :interval, interval_options, {selected: interval}, value: interval, data: {apex_nav_target: "intervalInput", action: "apex-nav#updateInterval apex-nav#updateInputs", apex_nav_path_param: path, apex_nav_input_param: "interval"}, class: "form-select form-select-sm" %>
    <%= form.label :interval %>
  </div>
<% end %>
