<div class="form-floating">
  <%= form.select :selection, dropday_range_options, {selected: dropday_range}, data: {action: "apex-nav#updateDropdays"}, class: "form-select form-select-sm" %>
  <%= form.label :selection %>
</div>
