<div class="form-floating">
  <%= form.select :selection, uniques_selection_options, {selected: uniques_selection}, data: {action: "apex-nav#updateTarget", apex_nav_target_param: "uniques"}, class: "form-select form-select-sm" %>
  <%= form.label :selection %>
</div>
