<%= turbo_frame_tag "seasons" do %>
  <ul class="list-group list-group-flush position-relative">
    <% seasons.map do |season| %>
      <li class="list-group-item d-flex justify-content-between">
        <span class="z-1"><%= "Season #{season[:season_number]}" %></span>
        <span class="z-1"><%= number_with_delimiter(season[:downloads]&.count) || 0 %></span>
      </li>
    <% end %>
    <div class="position-absolute top-50 start-50 translate-middle w-100 h-100 z-0"
      data-controller="apex-sparkbar"
      data-apex-sparkbar-id-value="podcast-seasons-chart"
      data-apex-sparkbar-downloads-value="<%= seasons.map { |season| season[:downloads] }.to_json %>">
      <div data-apex-sparkbar-target="chart"></div>
    </div>
  </ul>
<% end %>
