<%= turbo_frame_tag "agents_card" do %>
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <ul class="col-6 nav nav-pills nav-justified card-header-pills">
        <li class="nav-item"><button class="nav-link active" id="agents-tab" data-bas-toggle="tab" data-bs-target="#apps" type="button" role="tab" aria-controls="apps" aria-selected="true" data-action="apex-nav#changeTab" data-apex-nav-card-param="agents" data-apex-nav-tab-param="agentsapps">Apps</button></li>
        <li class="nav-item"><button class="nav-link" id="types-tab" data-bs-toggle="tab" data-bs-target="#types" type="button" role="tab" aria-controls="types" aria-selected="false" data-action="apex-nav#changeTab" data-apex-nav-card-param="agents" data-apex-nav-tab-param="agentstypes"><%= "Form Factor" %></button></li>
      </ul>
      <div class="col-2" data-apex-nav-target="tab" data-card="agents" data-tab="agentsapps">
        <%= render "metrics/filter_interval", url: podcast_metrics_path(podcast), interval: interval, path: "agentsapps" %>
      </div>
    </div>
    <div class="card-body metrics-card-body">
      <%= turbo_frame_tag "agents_apps", src: agents_podcast_metrics_path(podcast: podcast, date_start: date_start, date_end: date_end, interval: interval), data: {apex_nav_target: "tab", card: "agents", tab: "agentsapps"} do %>
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
