<div
  data-controller="apex"
  data-apex-series-value="<%= series.to_json %>"
  data-apex-options-value="<%= options.to_json %>"
  data-apex-xaxis-value="<%= xaxis %>"
  >
  <div data-apex-target="chart"></div>
</div>
