<div class="d-flex">
  <div class="me-2">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" id="time-options" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Time specificity
      </button>
      <ul class="dropdown-menu" aria-labelledby="time-options">
        <% date_trunc_options.each do |option| %>
          <li>
            <button class="dropdown-item" type="button" data-action="apex#updateTrunc click#submit" value="<%= option[1] %>">
              <%= option[0] %>
            </button>
          </li>
        <% end %>
      </ul>
    </div>

    <%= form.hidden_field :date_trunc, data: {apex_target: "datetrunc"}, value: date_trunc %>
  </div>
</div>
