<div class="btn-group">
  <button class="btn btn-primary dropdown-toggle" type="button" id="time-options" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    Time specificity
  </button>
  <ul class="dropdown-menu" aria-labelledby="time-options">
    <% interval_options(date_start, date_end).each do |option| %>
      <li>
        <%= active_link_to option[0], send("#{path}_podcast_metrics_path", podcast: podcast, date_start: date_start, date_end: date_end, interval: option[1]), class: "dropdown-item", data: {turbo_frame: path} %>
      </li>
    <% end %>
  </ul>
</div>
