<div data-controller="apex-toggles" data-apex-toggles-apex-downloads-outlet=".has-episodes" class="">
  <button class="btn btn-light p-2 me-2" type="button" data-action="click->apex-toggles#changeType" data-apex-toggles-type-param="bar"><span class="material-icons" type="button">bar_chart</span></button>
  <button class="btn btn-light p-2 me-2" type="button" data-action="click->apex-toggles#changeType" data-apex-toggles-type-param="area"><span class="material-icons" type="button">area_chart</span></button>
  <button class="btn btn-light p-2 me-2" type="button" data-action="click->apex-toggles#changeType" data-apex-toggles-type-param="line"><span class="material-icons" type="button">show_chart</span></button>
</div>
