<% if uniques.present? %>
  <div class="row d-flex flex-wrap gx-4">
    <div class="col">
      <div data-apex-target="chart" data-chart="uniques"></div>
    </div>
  </div>
<% else %>
  No data to display.
<% end %>
