<% content_for :title, "#{@podcast.title}" %>

<%= render "podcasts/tabs" %>

<div class="row">
    <div class="col-6">
        <h2>Micropayments</h2>

        <div class="col-6 form-floating">
            <%= form_with(model: @podcast, url: podcasts_path) do |form| %>
                <form class="form-floating">
                    <label for="floatingInputValue">Coil link</label>
                    <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" >
                </form>
            <% end %>
        </div>

        <h2>Subscribe and Follow Links</h2>

        <div class="col-6 form-floating">
        <%= form_with(model: @episode, url: fake_index_path) do |form| %>
            <form class="form-floating">
                <label for="floatingInputValue">Coil link</label>
                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="Except not coil because that's going away">
            </form>
        <% end %>   
        </div>
    </div>


        <div class="col-4 d-grid gap-3">
            <section class="card shadow">
                <div class="card-header-info">
                    <h5 class="card-title fw-bold">Status</h5>
                </div>
                    <div class="card-footer">
                        <p class="status-text"><strong>Last Saved</strong> <br>1/25/2023, 12:25pm</p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border-start border-color-white" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Duplicate</a></li>
                                <li><a class="dropdown-item bg-danger text-white" href="#">Delete</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>
