<div class="col-xl-4">
  <%= month_calendar(start_date: month) do |date| %>
    <% if date.month == month.month %>
      <%= link_to podcast_stream_hour_path(podcast, date), data: {turbo_frame: "_top"} do %>
        <%= date.day %>
        <% if resource_counts[date] %>
          <span class="badge rounded-pill bg-success"><%= resource_counts[date] %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
