<% content_for :title, t(".title", title: @podcast.title, date: @date) %>

<%= render "podcasts/tabs" %>

<div class="row my-4 mx-2">
  <div class="col-12 mb-4">
    <div class="d-flex">
      <h1 class="fw-bold my-0 mb-0 flex-grow-1"><%= @date %></h1>
      <%= link_to "Back", podcast_stream_hours_path(@podcast), class: "my-1" %>
    </div>
  </div>

  <% @resources.each do |res| %>
    <%= render "resource", podcast: @podcast, resource: res %>
  <% end %>
</div>
