//
// Button style overrides.
//

.btn {
  --#{$prefix}btn-padding-y: #{map-get($spacers, 1)};

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: #{map-get($spacers, 1)};
  white-space: nowrap;
}

.btn-icon {
  @include button-size($btn-icon-padding, $btn-icon-padding, $btn-icon-font-size, $btn-border-radius);

  display: inline-grid;
  place-items: center;
  aspect-ratio: 1;

  .material-icons {
    font-size: inherit;
  }
}

.btn-icon-sm {
  @include button-size($btn-icon-padding-sm, $btn-icon-padding-sm, $btn-icon-font-size-sm, $btn-border-radius-sm);
}

.btn-icon-lg {
  @include button-size($btn-icon-padding-lg, $btn-icon-padding-lg, $btn-icon-font-size-lg, $btn-border-radius-lg);
}

.btn-fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  z-index: 9999;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .material-icons {
    font-size: 24px;
  }
}

.btn-outline-light {
  --#{$prefix}btn-bg: #{$white};
  --#{$prefix}btn-border-color: #{$border-color};
  --#{$prefix}btn-color: #{color-contrast($white)};
  --#{$prefix}btn-hover-bg: #{tint-color($border-color, 50%)};
  --#{$prefix}btn-hover-border-color: #{$border-color};
  --#{$prefix}btn-active-bg: #{$border-color};
  --#{$prefix}btn-active-border-color: #{$border-color};
}
