//
// Cards style overrides.
//

.card {
  --#{$prefix}card-border-color: #{($border-color)};
}

.card-header {
  --#{$prefix}card-title-spacer-y: #{map-get($spacers, 0)};

  .card-title {
    text-transform: uppercase;
  }
}

.card-footer {
  padding: 1rem;
}

.status-text {
  line-height: 1.5;
  margin-bottom: 0;
  font-size: 0.875rem;
}

// Create theme colored card header classes.
@each $color, $value in $theme-colors {
  .card-header-#{$color} {
    @extend .card-header;

    --#{$prefix}card-border-width: 0;
    --#{$prefix}card-cap-bg: #{$value};
    --#{$prefix}card-cap-color: #{color-contrast($value)};

    .prx-btn-help {
      color: #{color-contrast($value)};
      margin-right: 0;

      &:hover {
        color: #{color-contrast($value)};
      }
    }
  }
}

// Add to link within card body to make whole card clickable.
.card-link {
  inset: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -2000vw;
}

.card-header-light {
  --#{$prefix}card-cap-bg: #{($light-blue-300)};
}

.prx-bg-light {
  background-color: $light;
  color: $navy;
}

@include color-mode(dark) {
  .card {
    --#{$prefix}card-bg: #{($black)};
    --#{$prefix}card-border-color: #{($border-color-dark)};
    --#{$prefix}card-cap-bg: #{($navy-900)};
    --#{$prefix}card-cap-color: #{($white)};
    --#{$prefix}card-cap-border-color: #{($border-color-dark)};

    .card-header-light {
      --#{$prefix}card-cap-bg: #{($black)};
      --#{$prefix}card-cap-color: #{($white)};
    }

    .card-body {
      color: #{($gray-300)};
    }

    .card-footer {
      background-color: var(--#{$prefix}card-bg);
    }
  }

  .prx-bg-light {
    background-color: $body-bg-dark;
    color: $white;
  }
}
