//
// Header subnav styles
//

.prx-app-bar {
  border-bottom: 1px solid $gray-300;
}

.prx-app-nav {
  .nav-link {
    --#{$prefix}nav-link-font-weight: #{$font-weight-bold};
    --#{$prefix}nav-link-padding-x: #{map-get($spacers, 3)};
    --#{$prefix}nav-link-padding-y: #{map-get($spacers, 2)};

    display: grid;
    align-items: center;
    text-transform: uppercase;

    &:not(.dropdown-toggle) {
      --prx-nav-link-active-border-color: #{transparent};

      border-block-end: 3px solid var(--prx-nav-link-active-border-color);

      &.active {
        --prx-nav-link-active-border-color: #{$orange};
      }
    }
  }
}
