/*
 * PRX header component
 */

@import "header-nav";
@import "header-subnav";

.prx-podcast-switcher {
  width: 100%;
  border-bottom: 1px solid $gray-200;
  position: relative;
  z-index: $zindex-sticky;

  @media (min-width: 992px) {
    min-width: 350px;
    width: auto;
    border-right: 1px solid $gray-300;
    border-bottom: none;
  }

  .btn {
    --#{$prefix}btn-padding-y: #{$btn-padding-y};
  }

  .dropdown-toggle {
    width: 100%;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: map-get($spacers, 2);

    &:after {
      @extend .material-icons;
      content: "expand_more";
      border: none;
      transition: transform 150ms ease-in-out;
    }

    .img-placeholder {
      width: 30px;
      height: 30px;
      background: $gray-200;
    }

    &.show {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-menu {
    margin: 0;
    border-radius: 0;
    width: 100%;

    @media (min-width: 992px) {
      width: auto;
      min-width: 350px;
    }
  }

  .dropdown-item {
    font-weight: bold;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $white;
    }
  }
}

.dashboard-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  .filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > * {
      margin-left: 1rem;
    }
  }
}
