//
// Header subnav styles
//

.prx-app-bar {
  border-bottom: 1px solid $border-color;
  background-color: $white;
}

.prx-app-nav {
  .nav-link {
    --#{$prefix}nav-link-font-weight: #{$font-weight-bold};
    --#{$prefix}nav-link-padding-x: #{map-get($spacers, 3)};
    --#{$prefix}nav-link-padding-y: #{map-get($spacers, 2)};

    display: grid;
    align-items: center;
    text-transform: uppercase;

    &:not(.dropdown-toggle) {
      --prx-nav-link-active-border-color: #{transparent};

      border-block-end: 3px solid var(--prx-nav-link-active-border-color);

      &.active {
        --prx-nav-link-active-border-color: #{$orange};
      }
    }
  }
}

@include color-mode(dark) {
  .prx-app-bar {
    background-color: $navy-900;
    border-bottom: 1px solid $border-color-dark;
  }

  .prx-app-nav .nav-link:not(.dropdown-toggle) {
    &:hover {
      color: $white;
    }

    &.active {
      color: $white;
    }
  }

  .nav-link {
    color: $light-blue-300;

    &.active {
      color: $white;
    }
  }
}
