/*
 * PRX header component
 */
.navbar-brand {
  display: block;
  width: 152px;
  height: 30px;
  background-image: image-url("dovetail_logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 50px;

  @media (min-width: 576px) {
    padding-top: 0;
  }
}

.nav-avatar {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $blue-light;
  height: 30px;
  width: 30px;
}

.prx-dovetail-nav {
  background: $blue-dark;
  margin: 0;
  padding: 0;

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .dropdown-menu {
    background: $blue-dark;
    margin: 0;
    padding: 0;
    border-radius: 0;

    .dropdown-item {
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0.25rem 1.5rem;
      min-width: 240px;

      &:hover {
        color: $white;
        background: $blue;
      }
    }

    .dropdown-divider {
      color: $cyan;
    }

    .dropdown-header {
      font-size: 16px;
      color: $orange;
    }

    .dropdown-username {
      font-size: 24px;
      color: $white;
      padding: 0.5em 0;
    }

    .btn-info {
      background: $blue-light;
      font-weight: bold;
      border-radius: 0;
      padding: 0.25em 1.25em;
    }

    .dropdown-link {
      font-weight: bold;
      text-decoration: none;
      padding: 0.5em 1.25em;
      color: $blue-light;
    }
  }
}

.prx-app-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $gray-300;

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.prx-podcast-switcher {
  width: 100%;
  border-bottom: 1px solid $gray-200;

  @media (min-width: 576px) {
    width: auto;
    border-right: 1px solid $gray-300;
    border-bottom: none;
  }

  @media (min-width: 992px) {
    min-width: 350px;
  }

  .dropdown-toggle {
    width: 100%;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:after {
      display: none;
    }
  }

  .podcast-info {
    .size-30 {
      width: 30px;
    }
  }

  .dropdown-menu {
    width: 100%;
    margin: 0;
    border-radius: 0;

    @media (min-width: 576px) {
      min-width: 350px;
    }
  }

  .dropdown-item {
    font-weight: bold;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dashboard-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  .filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > * {
      margin-left: 1rem;
    }
  }
}
