/*
 * PRX header component
 */
prx-header {
  header {
    border-bottom: 1px solid #e6e6e6;
    background: $gray-900;
    padding: 0;
    z-index: 9999;
  }

  h1 {
    margin: 0;
  }

  h1 a {
    display: block;
    width: 72px;
    height: 50px;
    background-image: image-url("prx_logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  /*
   * Navigation
   */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    text-align: right;
  }

  @media screen and (min-width: 768px) {
    h1 a {
      width: 113px;
      height: 73px;
    }
  }
}

.prxoffcanvas {
  background: $gray-900;

  .btn-light {
    background: transparent;
    border: none;

    .material-icons {
      color: white;
    }
  }

  h2 {
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
    padding: 0.5rem 1rem;

  }

  .list-group {
    margin-bottom: 2em;
  }

  .list-group-item {
    background: transparent;
    padding: 0 1rem;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $orange;
      }
    }
  }

}
