/**
 * General layout
 */

body {
  --#{$prefix}body-font-family: "Roboto", "Helvetica Neue", sans-serif;
  --#{$prefix}body-color: #{$gray-600};

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;

  background-color: $light-blue-100;
}

.prx-main {
  position: relative;
  display: block;
}

.sticky-lg-top,
.sticky-md-top {
  z-index: $zindex-dropdown;
}

.prx-border-light {
  border: 1px solid $light;
}

h1 {
  color: $navy-900;
}

@include color-mode(dark) {
  body {
    --#{$prefix}body-color: #{$light-blue-300};
    background-color: $navy-700;
  }

  h1 {
    color: $light-blue-300;
  }

  .modal {
    --#{$prefix}modal-bg: #{$navy-900};
    --#{$prefix}modal-color: #{$white};
    --#{$prefix}modal-border-color: #{$border-color-dark};
    --#{$prefix}modal-header-border-color: #{$border-color-dark};
    --#{$prefix}modal-footer-border-color: #{$border-color-dark};

    .btn-close {
      background-color: rgba(255, 255, 255);
    }
  }

  .prx-border-light {
    border-color: $border-color-dark;
  }
}
