// These styles work with Slim Select v3, will break v2
.ss-main {
  &.form-select {
    padding: 0.75rem;
    min-height: $input-height;
    height: auto;
    border-color: $input-border-color;
    // border: none;
  }

  &.ss-disabled {
    background-color: $input-disabled-bg;
  }

  .ss-values .ss-single {
    margin-left: 0;
  }

  // selection colors
  .ss-values .ss-value {
    animation: none;
    background-color: $primary;
    margin: 2px 5px 0 0;

    .ss-value-delete,
    .ss-value-delete svg {
      width: 16px;
      height: 16px;
      border-left: none;
    }
  }

  .ss-multi-selected .ss-add {
    margin-top: 12px;
    margin-right: 8px;
  }

  &.form-select.is-invalid:not([multiple]):not([size]) {
    background-repeat: no-repeat;
  }
}

.ss-single-selected,
.ss-multi-selected {
  padding: $input-btn-padding-y $input-btn-padding-x;
  line-height: $line-height-base;
  border: 0;
  border-radius: $input-border-radius;
  color: $input-color;

  &.ss-disabled {
    background: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    cursor: default;
  }
}

.ss-single-selected {
  height: 3.5rem;
  background: transparent;
}

.ss-arrow {
  visibility: hidden;
}

.ss-main.form-select.is-invalid:not([multiple]):not([size]) {
  padding-right: $form-select-feedback-icon-padding-end;
  background-image: $form-select-indicator, $form-feedback-icon-invalid;
  background-position: $form-select-bg-position, $form-select-feedback-icon-position;
  background-size: $form-select-bg-size, $form-select-feedback-icon-size;
  border-color: $danger;
}

.form-select.is-invalid:not([multiple]):not([size]) {
  padding-right: 0;
  background-image: none;
}

.ss-search input {
  border-radius: $input-border-radius;
  padding: $input-btn-padding-y $input-btn-padding-x;
  height: 3rem;
}

// more x-ish deselect
.ss-single-selected .ss-deselect {
  color: transparent;
  position: relative;
  transform: rotate(45deg);

  &::before {
    background: #666;
    content: "";
    position: absolute;
    height: 10px;
    width: 2px;
    left: 4px;
    top: 12px;
  }

  &::after {
    background: #666;
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    left: 0px;
    top: 16px;
  }
}

// faster!
.ss-content {
  // overrides Slim Select v3 component styles
  --ss-primary-color: #{$primary};
  --ss-bg-color: #{$white};
  --ss-font-color: #{$gray-700};
  --ss-border-color: #{$border-color};
  --ss-border-radius: #{$border-radius};

  transition-duration: 0.1s;

  &.form-select {
    padding: 0;
    border-radius: 0;
    box-shadow: $box-shadow;
    background-image: none;
  }

  .ss-list {
    .ss-option,
    .ss-optgroup-label {
      line-height: 2;

      &:hover:not(.ss-disabled) {
        border-left: none;
      }
    }
  }
}

// maybe a bad idea ... but hide options on multiselects, so things don't
// flicker as simpleselect is init-ing them
select[multiple] option {
  visibility: hidden;
}

@include color-mode(dark) {
  .ss-main {
    &.form-select {
      .ss-deselect svg path,
      .ss-arrow path {
        stroke: $gray-400;
        visibility: visible;
      }
    }
  }

  .ss-content {
    // overrides Slim Select v3 component styles
    --ss-bg-color: #{$navy-900};
    --ss-font-color: #{$white};
    --ss-border-color: #{$border-color-dark};

    .ss-list {
      .ss-option:hover:not(.ss-disabled),
      .ss-option.ss-highlighted,
      .ss-option:not(.ss-disabled).ss-selected {
        --ss-bg-color: #{$white};
        color: var(--ss-bg-color);
      }
    }
  }

  .ss-single-selected .ss-deselect {
    color: transparent;

    &::before,
    &::after {
      background: $gray-900;
    }
  }

  .ss-values {
    color: $gray-400;
  }
}
