.table {
  width: 100%;
  font-size: 0.8rem;

  thead {
    th {
      background: #e0e0e0;
      border: #fff;
      padding: 0 0.5rem;
      line-height: 3rem;
      white-space: nowrap;
      color: $gray-700;
      border-bottom-color: #fff;

      .sortable {
        color: $gray-700;
        font-weight: 400;
        position: relative;

        &:hover {
          color: $blue;
        }

        .material-icons {
          display: inline-block;
          margin: 14px 10px 0;
          vertical-align: top;
          font-size: 18px;
          color: $gray-700;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  td,
  th {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    color: $gray-700;
    font-weight: 400;
    vertical-align: top;
    padding: 1em 0.5em;

    &.border-start-dark {
      border-left: 1px solid black;
    }

    a {
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.table-sm {
  td,
  th {
    padding: 0.25rem 0.25rem;
  }
}

.table-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 52px;
}
