#blank-toolbar {
  display: none;
}

trix-toolbar span.trix-button-group--file-tools {
  display: none;
}

trix-editor.trix-content {
  border: 1px solid $input-border-color;

  blockquote,
  div,
  h1,
  h2,
  ol,
  p,
  pre,
  ul {
    margin-bottom: 1rem;
  }
}

trix-editor.trix-content[contenteditable="false"] {
  background: $input-disabled-bg;
  cursor: default;
}

.form-floating > trix-toolbar {
  width: 100%;
}

.form-floating > trix-editor ~ label {
  top: 36px;
}

.form-floating > trix-editor.form-control {
  min-height: calc(3.5em + 2px);
  height: auto;
}

// hide the hidden field invalid messages
.form-floating > .trix-hidden-field + .invalid-feedback {
  display: none;
}
