<div class="col">
  <%= month_calendar(start_date: month.first) do |date| %>
    <% if date_is_in_month?(date, month.first.month) %>
      <%= date.day %>

      <%= form.hidden_field :selected_dates, multiple: true, data: {calendar_target: "date"}, value: date.to_datetime, disabled: !is_preselected_date?(date, month) %>
    <% end %>
  <% end %>
</div>
