<div class="col">
  <%= month_calendar(start_date: month) do |date| %>
    <% if date_is_in_month?(date, month.month) %>
      <%= date.day %>

      <%= form.hidden_field :selected_dates, multiple: true, data: {calendar_target: "date"}, value: date.to_datetime, disabled: !is_preselected_date?(date, @planner.dates), draft: is_preselected_date?(date, @draft_dates) %>
    <% end %>
  <% end %>
</div>
