<section>
  <div class="mb-4">
    <h2 class="fw-bold">Date Calculation of Draft Batch</h2>
    <p>
      Calculate release dates for your drafts by selecting which days and weeks you plan to publish, and then select a date range.
    </p>
  </div>

  <%= render 'form_date_day', form: form %>
  <%= render 'form_date_week', form: form %>
  <%= render 'form_date_range', form: form %>
</section>
