<section>
  <div class="mb-4">
    <h2 class="fw-bold">What time of day do you plan to publish your episodes?</h2>
    <p>
      Select the time of day in which episodes would automatically be set to
      publish once the state is changed to scheduled. This will prevent you from
      resetting the value on each individual episode.
    </p>

    <div class="col-lg-4">
      <div class="form-floating">
        <%= form.select :publish_time, time_options %>
        <%= form.label :publish_time %>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <h2 class="fw-bold">Audio Segments</h2>
    <p>
      Make sure you choose a template associated with your series
      Podcast Info.
      This will help us forecast ad inventory available in each episode.
    </p>

    <div class="col-lg-4">
      <div class="form-floating">
        <%= form.number_field :segment_count, {min: 1, max: 10, step: 1, value: 2} %>
        <%= form.label :segment_count %>
      </div>
    </div>
  </div>
</section>
