<div class="col-lg-4">
  <div class="card">
    <div class="card-header-primary">
      <h5 class="card-title">THIS IS THE SIDE PANEL</h5>
    </div>
    <div class="card-footer">
      <p class="status-text"><strong>hint</strong></p>
      <%= form.submit "create", class: "btn btn-primary" %>
    </div>
  </div>
</div>
