<% content_for :title, "#{@podcast.title} - Plan Episodes" %>

<%= render "podcasts/tabs" %>

<%= turbo_frame_tag "podcast-planner", data: {controller: "morphdom"} do %>
  <div class="row my-4 mx-2">
    <%= render "form_calculator" %>
    <%= render "form_draft" %>
  </div>
<% end %>
