<h2><%= t(".title") %></h2>

<div class="col-4 mb-4 prx-field-group">
  <div class="form-floating">
    <%= form.number_field :segment_count, min: 1, max: 10 %>
    <%= form.label :segment_count %>
  </div>

  <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.segment_count") %>"><span class="material-icons">help</span></button>
</div>
