<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-secondary d-flex justify-content-between">
      <h5 class="card-title"><%= t(".title") %></h5>
    </div>

    <div class="card-body">
      <div class="form-floating">
        <%= form.tag_select :categories, episode.categories, {}, data: {allow_new: true, allow_clear: true} %>
        <%= form.label :categories %>
      </div>

      <button type="button" class="prx-btn-help" data-bs-toggle="popover" data-bs-content="<%= t(".help.categories") %>">
        <span class="material-icons">help</span>
      </button>
    </div>
  </div>
</div>
