<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-light d-flex justify-content-between">
      <h2 class="card-title h5"><%= t(".title") %></h2>
    </div>

    <div class="card-body">
      <div class="form-floating input-group">
        <%= form.tag_select :categories, episode.categories, {}, data: {allow_new: true, allow_clear: true} %>
        <%= form.label :categories %>
        <%= field_help_text t(".help.categories") %>
      </div>
    </div>

    <div class="card-footer" data-controller="tooltip">
      <button type="button" class="btn badge bg-secondary" data-bs-toggle="tooltip" data-bs-title="Informs some distributions to not include ads" data-bs-placement="bottom">Ad Free</button>
      <button type="button" class="btn badge bg-secondary" data-bs-toggle="tooltip" data-bs-title="Some text about a house ad" data-bs-placement="bottom">House Ad Free</button>
      <button type="button" class="btn badge bg-secondary" data-bs-toggle="tooltip" data-bs-title="Some text about a paid ad" data-bs-placement="bottom">Paid Ad Free</button>
    </div>
  </div>
</div>
