
<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-info d-flex justify-content-between">
      <h5 class="card-title"><%= t(".title") %></h5>
    </div>
    <div class="card-body">
      <%= turbo_frame_tag "episode-form-audio" do %>
        <div class="row">
          <%= render "episodes/audio_segments/count", episode: episode, form: form %>
          <%= render "episodes/audio_segments/index", episode: episode, form: form %>
        </div>
      <% end %>
    </div>
  </div>
</div>
