<div class="col-12 mb-4">
  <div class="card shadow border-0">
    <div class="card-header card-header-info d-flex justify-content-between">
      <h5 class="card-title"><%= t(".title") %></h5>
    </div>
    <div class="card-body">
      <%= render "form_audio_segment_count", episode: episode, form: form %>
      <%= render "form_audio_segments", episode: episode, form: form %>
    </div>
  </div>
</div>

<div class="col-4 mb-4">

</div>
