<% content_for :tabs do %>
  <div class="list-group d-flex col mw-100">
    <% if @episode.persisted? %>
      <%= tab_link_to @episode.title, edit_episode_path(@episode), class: "text-truncate", active: episode_metadata_active? %>
      <%= render "episode_media/tab", episode: @episode %>
      <%= tab_link_to t(".player"), episode_player_path(@episode) %>
    <% else %>
      <%= tab_link_to t(".new"), new_podcast_episode_path(@podcast), active: true %>
    <% end %>
  </div>
<% end %>
