<div class="progress flex-grow-1 me-2">
  <div class="progress-bar" role="progressbar" style="width: <%= import.progress_bar %>%;" aria-valuenow="<%= import.progress_bar %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
