<div class="p-4 mx-auto border border-2" style="resize: horizontal; overflow: scroll; min-width: calc(304px + 3rem); max-width: 100%">
  <div class="mb-4">
    <%= render "layouts/skeleton_text", lines: 4 %>
  </div>
  <div class="lh-0"><%= embed_player_iframe(player_options) %></div>
  <div class="mt-4">
    <%= render "layouts/skeleton_text", lines: 4 %>
  </div>
</div>
