<div class="p-4 mx-auto border border-2" style="resize: horizontal; overflow: scroll; min-width: calc(304px + 3rem); max-width: 100%">
  <div class="mb-4">
    <%= render "layouts/skeleton_text", lines: 4 %>
  </div>
  <%= tag.div class: "lh-0", data: {controller: "embed-preview", embed_preview_embed_html_value: embed_html} do %>
    <%# embed-preview-controller will handle updates, to prevent flickering %>
    <div data-embed-preview-target="wrapper" data-morph="false">
      <%= embed_html %>
    </div>
  <% end %>
  <div class="mt-4">
    <%= render "layouts/skeleton_text", lines: 4 %>
  </div>
</div>
