<% content_for :title, "#{@episode.title} - Embeddable Player" %>

<%= render "episodes/tabs" %>

<div class="row my-4 mx-2">
  <div class="col-lg-8">
    <div class="row">
      <%= render "form", episode: @episode, embed_player_type: @embed_player_type %>
    </div>
  </div>
  <div class="col-lg-4 d-grid align-content-start gap-3">
  </div>
</div>
