<% content_for :title, "#{@episode.title} - #{t(".title")}" %>

<%= render "episodes/tabs" %>

<div class="row my-4 mx-2">
  <div class="col-lg-12">
    <div class="row">
      <%= render "form", episode: @episode, embed_player_type: @embed_player_type %>
    </div>
  </div>
</div>
