<div class="row">

  <div class="col-lg-3"></div>

  <div class="col-lg-6 my-5">
    <div class="card">
      <div class="card-body my-2">
        <h1 class="card-title text-center"><%= t(".title") %></h1>
        <p class="card-text text-center"><%= t(".message_html", href: "https://#{ENV["ID_HOST"]}/accounts") %></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3"></div>

</div>
