<template data-audio-breakpoints-target="preRollControlTemplate">
  <tr data-controller="audio-breakpoint tooltip" data-audio-breakpoint-completed-class="status--completed">
    <td></td>
    <td>
      <span data-audio-breakpoint-target="label">Label Text</span>
    </td>
    <td>
      <div class="prx-input-group input-group-sm">
        <input class="form-control" placeholder="00:00" disabled
          data-bs-toggle="tooltip"
          data-bs-title="Start Time">
      </div>
      <span class="material-icons rotate-90">expand</span>
      <div class="prx-input-group input-group-sm">
        <input class="form-control" placeholder="00:00"
          data-audio-breakpoint-target="endTime"
          data-action="keypress.enter->audio-breakpoint#changeEndTime"
          data-bs-toggle="tooltip"
          data-bs-title="Edit End Time">
        <button type="button" class="prx-input-confirm btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Confirm Change" data-action="audio-breakpoint#changeEndTime">
          <span class="material-icons">done</span>
        </button>
        <button type="button" class="prx-input-confirm-hidden btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Set To Playhead" data-action="audio-breakpoint#updateEndTimeToPlayhead">
          <span class="material-icons">my_location</span>
        </button>
        <button type="button" class="has-end-time-show btn btn-icon btn-icon-borderless btn-primary" data-bs-toggle="tooltip" data-bs-title="Reset End Time" data-action="audio-breakpoint#minEndTime">
          <span class="material-icons">close</span>
        </button>
      </div>
    </td>
    <td class="justify-content-end">
      <button type="button" class="btn btn-icon btn-icon-round btn-primary" data-action="audio-breakpoint#seekTo">
        <span class="material-icons">skip_next</span>
      </button>
    </td>
  </tr>
</template>
