.prx-badge-incomplete {
  background: $warning;
  color: $black;
}

.prx-badge-complete {
  background: $success;
}

.prx-badge-created {
  background: $secondary;
}

.prx-badge-started,
.prx-badge-importing {
  background: $primary;
}

.prx-badge-processing {
  background: $info;
  color: $black;
}

.prx-badge-incomplete-published,
.prx-badge-invalid,
.prx-badge-not_found,
.prx-badge-bad_timings,
.prx-badge-no_media,
.prx-badge-error {
  background: $danger;
}
