.prx-badge-incomplete,
.prx-badge-duplicate,
.prx-badge-scheduled,
.prx-badge-draft {
  background: $warning;
  color: $black;
}

.prx-badge-complete,
.prx-badge-published {
  background: $success;
}

.prx-badge-new,
.prx-badge-created {
  background: $secondary;
}

.prx-badge-started,
.prx-badge-importing {
  background: $primary;
}

.badge.bg-info,
.prx-badge-processing {
  background: $info;
  color: $black;
}

.prx-badge-not_publishable {
  background: $gray-400;
  color: $black;
}

.prx-badge-incomplete-published,
.prx-badge-invalid,
.prx-badge-not_found,
.prx-badge-bad_timings,
.prx-badge-no_media,
.prx-badge-error {
  background: $danger;
}
