a.btn:hover {
  text-decoration: none;
}

@include color-mode(dark) {
  .card-header-light {
    .prx-btn-help {
      color: $link-color-dark;

      &:hover {
        color: $link-hover-color-dark;
      }
    }
  }
}
