@import "shared/bootstrap-variables";

.simple-calendar {
  .table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;

    :is(thead, tbody, tr) {
      display: contents;
    }

    :is(thead th, td) {
      display: grid;
      place-content: center;
      min-width: 6ch;
      border-width: 1px;
      line-height: 1;
    }

    tbody {
      tr:nth-of-type(odd) {
        .bg-primary {
          --bs-table-bg-type: $primary;
        }

        .bg-danger {
          --bs-table-bg-type: $danger;
        }

        .bg-warning {
          --bs-table-bg-type: $warning;
        }
      }
    }

    .day.current-month:hover {
      background-color: $primary !important;
      color: $light;
      cursor: pointer;
    }
  }
}

@include color-mode(dark) {
  .simple-calendar :is(thead th, td) {
    border-color: $border-color-dark;
  }
}
