@import "shared/bootstrap-variables";

.simple-calendar {
  .table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;

    :is(thead, tbody, tr) {
      display: contents;
    }

    :is(thead th, td) {
      display: grid;
      place-content: center;
      min-width: 6ch;
      border-width: 1px;
      line-height: 1;
    }

    tbody {
      tr:nth-of-type(odd) {
        .bg-primary {
          --bs-table-bg-type: $primary;
        }

        .bg-danger {
          --bs-table-bg-type: $danger;
        }

        .bg-warning {
          --bs-table-bg-type: $warning;
        }
      }
    }

    .day.today {
      --bs-table-bg-type: var(--bs-info);
    }

    .day.current-month {
      position: relative;

      a {
        color: inherit;
        font-weight: inherit;
      }

      .badge {
        position: absolute;
        top: 1px;
        right: 1px;
        padding: 0.25em 0.5em;
      }

      &:hover,
      &:hover > a {
        --bs-table-bg-type: var(--bs-primary);
        color: $light;
        cursor: pointer;
      }
    }
  }
}

@include color-mode(dark) {
  .simple-calendar :is(thead th, td) {
    border-color: $border-color-dark;
  }
}
