.collapsible_card {
  margin-bottom: 1em;

  .card-header {
    background: $light-blue-300;
    color: $dark;

    a {
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .material-icons {
        padding: 5px;
      }

      .collapsed_icon {
        display: none;
      }

      .expanded_icon {
        display: block;
      }

      &.collapsed {
        .collapsed_icon {
          display: block;
        }

        .expanded_icon {
          display: none;
        }
      }
    }
  }
}

@include color-mode(dark) {
  .collapsible_card {
    .card-header:not(.bg-warning, .bg-info) {
      background: $black;
      color: $white;
    }
  }
}
