//
// Episode card styles.
//

.episode-card {
  border-top: none;
  border-left: 5px solid $primary;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  height: 100px;

  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $border-color;

    &:hover {
      background: rgba(140, 210, 244, 0.1);
    }
  }

  .episode-card-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    &.inside-card {
      border-bottom: 1px solid $border-color;
    }

    .episode-card-date {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .episode-card-inner {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex-grow: 1;
      border: none;
    }

    .episode-card-title {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.2;
      color: $primary;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .card-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.2;
      margin-bottom: 0;
    }

    .stretched-link {
      inset: 0;
      overflow: hidden;
      position: absolute;
      text-indent: -2000vw;
    }
  }
}

@include color-mode(dark) {
  .episode-card {
    .card-body {
      border-bottom: 1px solid $border-color-dark;
    }

    .episode-card-info {
      color: $gray-400;

      &.inside-card {
        border-bottom: 1px solid $border-color-dark;
      }

      .episode-card-title,
      .episode-card-title a {
        color: $link-color-dark;

        &:hover {
          color: $link-hover-color-dark;
        }
      }
    }
  }

  .prx-dashboard-card {
    .list-group-flush > .list-group-item {
      background: none;

      a {
        color: $link-color-dark;

        &:hover {
          color: $link-hover-color-dark;
        }
      }
    }
  }
}
