.metrics-card-body {
  .metrics-chart {
    height: 275px;
  }

  .list-group-item {
    --bs-list-group-item-padding-y: 0;
    --bs-list-group-border-width: 0;
  }

  .episode-card-info {
    border-bottom: 0;

    .episode-card-text {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
