.metrics-card-lg {
  .metrics-card-body {
    min-height: 307px; // set a height for loading
    width: 100%;

    .prx-loading {
      height: 275px;
    }
  }
}

.metrics-scorecard {
  min-height: 108px; // set a height for loading
}

.metrics-row-sparkline {
  .metrics-card-body {
    min-height: 275px; // set a height for loading
  }
}

.metrics-card-body {
  .metrics-chart {
    height: 275px;
    width: 100%;
  }

  .list-group-item {
    --bs-list-group-item-padding-y: 0;
    --bs-list-group-border-width: 0;
  }

  .episode-card-info {
    border-bottom: 0;

    .episode-card-text {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
