@import "shared/bootstrap-variables";

.prx-uploads {
  .spinner-border {
    height: 24px;
    width: 24px;
  }
}

.prx-audio-player {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
      .invalid-feedback
    ) {
    margin-left: 0;
  }

  .prx-pause {
    display: none;
  }

  .form-control .text-danger {
    display: none;
  }

  .prx-scrub {
    visibility: hidden;
    cursor: pointer;

    .progress {
      height: 4px;
      overflow: visible;

      .progress-bar {
        position: relative;
        overflow: visible;

        &::after {
          content: "";
          position: absolute;
          height: 10px;
          width: 2px;
          right: -2px;
          background: $primary;
        }
      }
    }
  }

  &.prx-playing {
    .prx-play {
      display: none;
    }
    .prx-pause {
      display: inherit;
    }
    .prx-scrub {
      visibility: visible;
    }
  }

  &.prx-seeking {
    .prx-scrub .progress .progress-bar {
      transition: none;
      &::after {
        display: none;
      }
    }
  }

  &.prx-errored {
    .prx-play {
      display: inherit;
    }
    .prx-pause {
      display: none;
    }
    .prx-scrub {
      display: none;
    }
    .text-danger {
      display: inherit;
    }
  }
}

.prx-uploads-image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 160px;

  img {
    max-width: 100%;
  }
  aside {
    position: absolute;
    left: 0;
    bottom: 0;
    background: $gray-300;
    font-size: 10px;
  }
}
