@import "shared/bootstrap-variables";

.prx-uploads {
  .spinner-border {
    height: 24px;
    width: 24px;
  }
}

.prx-audio-player {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
      .invalid-feedback
    ) {
    margin-left: 0;
  }

  .prx-pause {
    display: none;
  }

  .prx-error {
    display: none;
  }

  .prx-scrub {
    visibility: hidden;
    cursor: pointer;

    .progress {
      height: 4px;
      overflow: visible;

      .progress-bar {
        position: relative;
        overflow: visible;

        &::after {
          content: "";
          position: absolute;
          height: 10px;
          width: 2px;
          right: -2px;
          background: $primary;
        }
      }
    }
  }

  &.prx-playing {
    .prx-play {
      display: none;
    }
    .prx-pause {
      display: inherit;
    }
    .prx-scrub {
      visibility: visible;
    }
  }

  &.prx-seeking {
    .prx-scrub .progress .progress-bar {
      transition: none;
      &::after {
        display: none;
      }
    }
  }

  &.prx-errored {
    .prx-play {
      display: inherit;
    }
    .prx-pause {
      display: none;
    }
    .prx-scrub {
      display: none;
    }
    .prx-error {
      display: inherit;
    }
  }

  &.prx-swanky {
    .prx-scrub {
      visibility: visible;

      .progress {
        height: 12px;
        background: linear-gradient(
          90deg,
          rgba(255, 0, 0, 0.4) 0%,
          rgba(255, 154, 0, 0.4) 10%,
          rgba(208, 222, 33, 0.4) 20%,
          rgba(79, 220, 74, 0.4) 30%,
          rgba(63, 218, 216, 0.4) 40%,
          rgba(47, 201, 226, 0.4) 50%,
          rgba(28, 127, 238, 0.4) 60%,
          rgba(95, 21, 242, 0.4) 70%,
          rgba(186, 12, 248, 0.4) 80%,
          rgba(251, 7, 217, 0.4) 90%,
          rgba(255, 0, 0, 0.4) 100%
        );
      }
    }
  }
}

.prx-uploads-image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 160px;

  img {
    max-width: 100%;
  }
  aside {
    position: absolute;
    left: 0;
    bottom: 0;
    background: $gray-300;
    font-size: 10px;
  }
}

.prx-video-player {
  width: 100%;
  height: auto;
}
