<div class="prx-waveform-inspector d-grid gap-2 my-4">
  <div class="prx-waveform-inspector-container position-relative">
    <div class="prx-waveform-inspector-view-container"></div>
    <div class="prx-waveform-inspector-scrollbar-wrapper"></div>
    <div class="prx-waveform-inspector-view-container"></div>

    <div class="prx-waveform-alert-wrapper position-absolute top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
      <div class="alert alert-<%= segmenter_status_class(uncut) %> d-flex align-items-center" role="alert">

        <% if upload_processing?(uncut) %>
          <div class="spinner-border text-primary me-2" role="status">
            <span class="visually-hidden"></span>
          </div>

          <%# just keep polling until the file finishes processing %>
          <%= link_to "", request.fullpath, class: "d-none", data: {controller: "polling"} %>
        <% end %>

        <p class="m-0"><%= segmenter_status_msg(episode, uncut) %></p>
      </div>
    </div>

  </div>
  <div class="prx-waveform-inspector-footer d-flex justify-content-between align-items-start">
    <div class="prx-waveform-inspector-player-controls d-flex gap-3 align-items-center">
      <button disabled class="btn btn-icon btn-icon-lg btn-icon-round btn-primary">
        <span class="material-icons playing-hide" aria-label="Play">play_arrow</span>
      </button>
      <div class="prx-input-group input-group-sm">
        <input disabled class="form-control" placeholder="00:00">
        <button disabled class="btn btn-icon btn-icon-borderless btn-primary">
          <span class="material-icons">skip_next</span>
        </button>
      </div>
    </div>
    <div class="prx-waveform-inspector-zoom-controls">
      <div class="btn-group">
        <button disabled class="btn btn-icon btn-primary btn-sm">
          <span class="material-icons">zoom_in</span>
        </button>
        <button disabled class="btn btn-icon btn-primary btn-sm">
          <span class="material-icons">zoom_out</span>
        </button>
      </div>
    </div>
  </div>
</div>
