<%= turbo_frame_tag "placements-preview", data_placement_preview_target: "frame" do %>
  <% if @fetch_error %>
    <div class="alert alert-danger" role="alert">
      <%= t(".fetch_error") %>
    </div>
  <% end %>

  <% @zones.each do |zone| %>
    <div class="prx-placement prx-placement-<%= zone[:section] %>">
      <div class="prx-zone">
        <div class="prx-zone-name d-flex justify-content-start align-items-center">
          <% if zone[:type] == "original" %>
            <span class="material-icons me-2">square</span>
          <% else %>
            <span class="material-icons me-2">circle</span>
          <% end %>
          <%= zone[:name] %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
