@import "shared/bootstrap-variables";

.card {
  .card-header,
  .card-footer {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.bg-info,
    &.bg-primary,
    &.bg-success,
    &.bg-dark,
    &.bg-warning,
    &.bg-danger {
      border-bottom: none;
    }
  }

  .card-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  .status-text {
    font-size: 0.875rem;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .btn {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    align-items: center;

    .material-icons {
      align-self: center;
    }

    &.btn-group {
      display: block;
    }
  }
}

.podcast-card {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-bottom: 0;

  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: rgba(140, 210, 244, 0.1);
    }
  }

  .podcast-card-info {
    display: flex;
    justify-content: start;
    align-items: center;

    img {
      margin-right: 1rem;
    }

    .podcast-card-title {
      margin-bottom: 0.25rem;
      font-weight: bold;
      font-size: 1.25rem;
      color: $black;
    }

    p {
      line-height: 1.1;
      margin-bottom: 0;
    }

    .stretched-link {
      inset: 0;
      overflow: hidden;
      position: absolute;
      text-indent: -2000vw;
    }
  }

  .podcast-card-status {
    text-align: right;
  }
}

.episode-card {
  border-top: none;
  border-left: 5px solid $primary;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  margin-bottom: 0.25rem;
  height: 100px;

  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      background: rgba(140, 210, 244, 0.1);
    }
  }

  .episode-card-info {
    display: flex;
    justify-content: start;
    align-items: center;

    .episode-card-date {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .episode-card-title {
      margin-bottom: 0.25rem;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.2;
      color: $primary;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.2;
      margin-bottom: 0;
    }

    .stretched-link {
      inset: 0;
      overflow: hidden;
      position: absolute;
      text-indent: -2000vw;
    }
  }
}

.bg-info,
.bg-warning,
.bg-danger {
  color: black;
}

.bg-success,
.bg-primary,
.bg-dark {
  color: white;
}
