<%= form.fields_for :hls_video, episode.hls_video || episode.build_hls_video, include_id: false do |fields| %>
  <%= turbo_frame_tag "episode-media-hls-video" do %>

    <div class="prx-uploads col-12 mb-4">
      <div class="card shadow border-0">
        <div class="card-header card-header-info d-flex justify-content-between">
          <h2 class="card-title h5"><%= t(".title.media") %></h2>
        </div>
        <div class="card-body pb-0">
          <%= render "episode_media/media/media", form: fields, episode: episode, media: fields.object %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
