<% content_for :title, "#{@episode.title} - #{t(".title")}" %>

<%= render "episodes/tabs" %>

<div class="row my-4 mx-2">
  <div class="col-lg-8">
    <div class="row">
      episode media todo
    </div>
  </div>
  <div class="col-lg-4 d-grid align-content-start gap-3">
  </div>
</div>
