<% data = {controller: "unsaved disable", unsaved_changed_value: podcast.changed?, unsaved_confirm_value: t(".confirm")} %>

<%= form_with(model: podcast, html: {autocomplete: "off"}, data: data) do |form| %>
  <%# first button in form must be a submit, for enter key to work %>
  <%= form.submit class: "d-none" %>

  <div class="row my-4 mx-2">
    <div class="col-lg-8">
      <div class="row">
        <%= render "form_main", podcast: podcast, form: form %>
      </div>
    </div>
    <div class="col-lg-4 d-grid align-content-start gap-3">
      <%= render "form_status", podcast: podcast, form: form %>
    </div>
  </div>
<% end %>
