<div class="card collapsible_card border-0 shadow">
  <div class="card-header card-header-light text-uppercase">
    <a data-bs-toggle="collapse" href="#advanced-fields" role="button" aria-expanded="true" aria-controls="advanced-fields" class="">
      <span class="material-icons expanded_icon">expand_less</span>
      <span class="material-icons collapsed_icon">expand_more</span>
    </a>
  </div>
  <div id="advanced-fields" class="card-body p-0 collapse show" style="">
    <h3>Person</h3>
    <p>Add </p>
    Name | Role | Group | Link
    <div class="row">
      <div class="col-3 mb-4">
        <div class="form-floating input-group">
          <input class="form-control" type="text" value="Person Name" name="person[name]" id="person_name">
          <label for="person_name">Person Name</label>
          <a class="input-group-text prx-input-group-text" tabindex="0" role="button" data-popover-target="trigger" data-bs-trigger="focus" data-bs-content="The name of this person"><span class="material-icons">help</span></a>
        </div>
      </div>
    <div class="col-3 mb-4">
      <div class="form-floating input-group">
        <select class="form-select" data-action="change-&gt;unsaved#change keyup-&gt;unsaved#change blur-&gt;blank-field#blur" data-value-was="true" data-controller="slim-select" name="podcast[role]" id="person_role" data-id="ss-kcymn68w" tabindex="-1" aria-hidden="true" style="display: none;">
          <option selected="selected" value="true">Host</option>
          <option value="false">Guest</option>
          <option value="false">Add the others</option>
        </select>
        <div data-id="ss-v7a9zxqc" id="ss-v7a9zxqc" tabindex="0" class="ss-main form-select" role="combobox" aria-haspopup="listbox" aria-controls="ss-v7a9zxqc" aria-expanded="false" aria-activedescendant="nz3fq6gz">
          <div class="ss-values">
            <div class="ss-single">Host</div>
          </div>
          <div class="ss-deselect ss-hide">
            <svg viewBox="0 0 100 100"><path d="M10,10 L90,90 M10,90 L90,10"></path></svg></div><svg class="ss-arrow" viewBox="0 0 100 100"><path d="M10,30 L50,70 L90,30"></path></svg>
          </div>
        </div>
        <label for="person_role">Role</label>
        <a class="input-group-text prx-input-group-text" tabindex="0" role="button" data-popover-target="trigger" data-bs-trigger="focus" data-bs-content="Used to identify what role the person serves on the show or episode. This should be a reference to an official role within the Podcast Taxonomy Project list. If role is missing then “host” is assumed."><span class="material-icons">help</span></a>
      </div>
    </div>
  </div>

    add another
  </div>
</div>
