<div class="card">
  <div class="card-header bg-info">
    <h5 class="card-title"><%= t(".title") %></h5>
  </div>
  <div class="card-body">
    <% if podcast.itunes_image %>
      <%= image_tag(podcast.itunes_image.url, width: 135, alt: podcast.itunes_image.alt_text, class: "d-flex mx-auto mb-2") %>
    <% else %>
      <h3>No image here</h3>
    <% end %>

    <p>tktktk</p>
  </div>
</div>
