<div id="<%= dom_id podcast %>" class="row col-sm-7">
  <div class="col-sm-1 m-2">
    <% if podcast.feed_image %>
      <%= image_tag(podcast.feed_image.url, width: 135, alt: podcast.feed_image.alt_text, class: "d-flex mx-auto mb-2") %>
    <% else %>
      <h1 class="h3"><%= t ".no_image" %></h1>
    <% end %>
  </div>
  <div class="col-sm-6 m-2">
    <h1><%= podcast.title %></h1>
    <p>Podcast description</p>
  </div>
</div>
