<div id="toast-alerts" class="toaster position-fixed top-0 start-50 translate-middle-x p-4 <%= "d-none" if flash.empty? %>">
  <% flash.each do |k, v| %>
    <div class="<%= toast_class(k) %> align-items-center p-0 m-0" role="alert" aria-live="assertive" aria-atomic="true" data-controller="toast">
      <div class="d-flex">
        <div class="toast-body">
          <%= v %>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% end %>
</div>
