<div class="prx-podcast-switcher dropdown">

  <button class="btn btn-white dropdown-toggle" type="button" id="podcast-switcher" data-bs-toggle="dropdown" aria-expanded="false">
    <% if @podcast %>
      <% if @podcast.feed_image %>
        <img src="<%= @podcast.feed_image.url %>" width=30/>
      <% elsif @podcast.itunes_image %>
        <img src="<%= @podcast.itunes_image.url %>" width=30/>
      <% else %>
        <span class="material-icons size-30 me-2" aria-label="hidden">square</span>
      <% end %>
      <em class="flex-grow-1 text-start"><%= @podcast.title %></em>
      <span class="material-icons justify-self-end ms-2" aria-label="hidden">expand_more</span>
    <% else %>
      <span class="material-icons size-30 me-2" aria-label="hidden">square</span>
      <em class="flex-grow-1 text-start">Select a podcast</em>
      <span class="material-icons justify-self-end ms-2" aria-label="hidden">expand_more</span>
    <% end %>
  </button>

  <ul class="dropdown-menu p-2 shadow" aria-labelledby="podcast-switcher">
    <li class="search-filter mb-2">
      <input type="text" class="form-control" id="podcastSearch" aria-describedby="podcastSearch" placeholder="Search Podcasts" autocomplete="off">
    </li>
    <!-- Show 5 podcast links OR Show all and include only 5 visible -->
    <li><%= link_to "Fake Podcast", main_app.fake_path(123), class: "dropdown-item" %></li>
    <li><a href="#" class="dropdown-item">Podcast Title</a></li>
    <li><a href="#" class="dropdown-item">Podcast Title</a></li>
    <li><a href="#" class="dropdown-item">Podcast Title</a></li>
    <li><a href="#" class="dropdown-item">Podcast Title</a></li>
    <!-- end -->
    <li><hr class="dropdown-divider"></li>
    <li><a href="#" class="dropdown-item">View all my Podcasts (12<!-- Show Total # of Podcasts -->) &gt;</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a href="#" class="dropdown-item">Create a New Podcast &gt;</a></li>
    <li><hr class="dropdown-divider"></li>
  </ul>

</div>
